<footer class="site-footer">

  <div class="wrapper">
    <div class="footer-text">
      <p class="white-text">want a site like mine? contact <a href="https://marcusjschimizzi.com">marcus schimizzi</a>.</p>
     <div class="fine-print">Icons made by <a href="http://www.flaticon.com/authors/madebyoliver" title="Madebyoliver">Madebyoliver</a> from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div> 
    </div>          
  </div>

  <div class="footer-menu">
   
      {% for my_page in site.pages %}
          {% if my_page.title %}
              <a class="bottom-link" href="{{ my_page.url | relative_url }}">{{ my_page.title | escape }}</a><br />
          {% endif %}
      {% endfor %}

  </div>
</footer>
