<footer class="site-footer">

  <div class="wrapper">
    <div class="footer-text">
      <p class="white-text">want a site like mine? contact <a href="https://marcusjschimizzi.com">marcus schimizzi</a>.</p>
    </div>          
  </div>

  <div class="footer-menu">
   
      {% for my_page in site.pages %}
          {% if my_page.title %}
              <a class="bottom-link" href="{{ my_page.url | relative_url }}">{{ my_page.title | escape }}</a><br />
          {% endif %}
      {% endfor %}

  </div>
</footer>
