<footer class="site-footer">

  <div class="wrapper">
    <div class="footer-text">
      <p> &#169; {{ "now" | date: "%B %Y" | upcase }}. MARCUS SCHIMIZZI. ALL RIGHTS RESERVED. </p>
      <p class="white-text"> WANT A SITE LIKE MINE? CONTACT <a href="https://marcusjschimizzi.com">MARCUS SCHIMIZZI</a>.</p>
     <div class="fine-print">ICONS MADE BY <a href="http://www.flaticon.com/authors/madebyoliver" title="Madebyoliver">MADEBYOLIVER</a> FROM <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a> IS LICENSED BY <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div> 
    </div>          
  </div>

  <div class="footer-menu">
   
      {% for my_page in site.pages %}
          {% if my_page.title %}
              <a class="bottom-link" href="{{ my_page.url | relative_url }}">{{ my_page.title | escape | upcase }}</a><br />
          {% endif %}
      {% endfor %}

  </div>
</footer>
