// Define defaults for each variable.

$base-font-family: 'Amiri', serif;
$title-font-family: 'Fjalla One', sans-serif;
$header-footer-family: 'Montserrat', sans-serif;
$base-font-size:   16px;
$base-font-weight: 400;
$header-footer-weight: 200;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5 !default;

$spacing-unit:     30px !default;

$text-color:       #474747;
$background-color: #f9f9f9 !default;
$brand-color:      #2a7ae2 !default;

$midnight:    #000000;
$purps:   #d039fa;
$white:   #ffffff;
$greybae: #474747;

$icon-size: 64px;
$social-media-height: 1.33 * $icon-size;

// Width of the content area
$content-width:    800px !default;

$on-palm:          600px !default;
$on-laptop:        800px !default;

// Use media queries like this:
// @include media-query($on-palm) {
//   .wrapper {
//     padding-right: $spacing-unit / 2;
//     padding-left: $spacing-unit / 2;
//   }
// }
@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

// Import partials.
@import
  "minima/base",
  "minima/layout",
  "minima/syntax-highlighting"
;
