/**
 * Site header
 */
.site-header {
  font-family: $header-footer-family;
  font-weight: $header-footer-weight;
  min-height: 56px;
  background-color: $greybae;

  // Positioning context for the mobile navigation icon
  position: relative;

  position: fixed;
  top: 0px;
  width: 100%;
}

.site-title {
  font-family: $header-footer-family;
  font-size: 26px;
  line-height: 56px;
  letter-spacing: -1px;
  margin-bottom: 0;
  margin-left: 5%;
  float: left;
  color: $white;

  &,
  &:visited {
    color: $white;
  }

  &:hover {
    color: $purps;
  }
}

.site-nav {
  float: right;
  line-height: 56px;
  margin-right: 5%;

  .menu-icon {
    display: none;
  }

  .page-link {
    color: $white;
    line-height: $base-line-height;

    // Gaps between nav items, but not on the last one
    &:not(:last-child) {
      margin-right: 20px;
    }
  }
  
  .page-link.contact {
    color: $greybae;
  }

  .page-link:hover {
    color: $purps;
  }

  .page-link.contact:hover {
    color: $greybae;
  }

  @include media-query($on-palm) {
    position: absolute;
    top: 9px;
    right: $spacing-unit / 2;
    background-color: $greybae;
    border: 1px solid $greybae;
    border-radius: 5px;
    text-align: right;

    .menu-icon {
      display: block;
      float: right;
      width: 36px;
      height: 26px;
      line-height: 0;
      padding-top: 10px;
      text-align: center;

      > svg path {
        fill: $purps;
      }
    }

    .trigger {
      clear: both;
      display: none;
    }

    &:hover .trigger {
      display: block;
      padding-bottom: 5px;
    }

    .page-link {
      display: block;
      padding: 5px 10px;

      &:not(:last-child) {
        margin-right: 0;
      }
      margin-left: 20px;
    }
  }
}

.text-oval {
  display: inline-block;
  padding: 2px;
  padding-left: 15px;
  padding-right: 15px;
  line-height: 100%;
  font-size: 15px;

  -moz-border-radius: 50%;
  border-radius: 45%;

  background-color: white;
  text-align: center;
}

.text-oval:hover {
  background-color: $purps;
  color: $white;
  .page-link.contact {
    color: $white;
  }
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: $greybae;
    min-width: 200px;
    box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 0% 0% 5% 5%;
}

.dropdown-content a {
    color: $white;
    padding: 3px 3px;
    text-decoration: none;
    display: block;
    border-top: 1px solid $white;
}

.dropdown-content a:hover {
  color: $purps;
  border-color: $purps;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/**
 * Social media bar
 */
.social-media {
  height: 84px;
  width: 100%;
  background-color: $purps;
}

.social-media-wrapper {
  display: table;
  margin: 0 auto;
}

.social-media-list {
  list-style: none;
  text-align: center;
  padding-top: 10px;
}
.social-media-list li {
  display: inline;
}

/**
 * Site footer
 */
.site-footer {
  padding: $spacing-unit 0;
  background-color: $greybae;
  position: relative;
  height: 110px;
  font-family: $header-footer-family;
  font-weight: $header-footer-weight;
  
  @include media-query($on-palm) {
    font-size: 11px;
  }
}

.footer-text {
  color: $white;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); 

  @include media-query($on-palm) {
    left: 30%;
  }
}

.fine-print {
  opacity: 0.5;
  font-size: 10px;
}

.footer-menu {
  position: absolute;
  bottom: 40px;
  right: 20px;
  width: 130px;
  height: 80px;
  list-style: none;
  border-left: 2px solid $purps;
  border-top: 2px solid $purps;
  color: $white;
  
  @include media-query($on-palm) {
    width: 90px;
    height: 60px;
  }
}

.bottom-link {
  color: $white;
  text-decoration: none;
  float: right;
}


/**
 * Page content
 */
.page-content {
  padding: $spacing-unit 0;
  margin-top: 60px;
  font-family: $base-font-family;
}

.page-heading {
  font-size: 20px;
}

.post-list {
  margin-left: 0;
  list-style: none;

  > li {
    margin-bottom: $spacing-unit;
  }
}

.post-meta {
  font-size: $small-font-size;
  color: $grey-color;
}

.post-link {
  display: block;
  font-size: 24px;
}



/**
 * Posts
 */
.post-header {
  margin-bottom: $spacing-unit;
}

.post-title {
  font-size: 42px;
  letter-spacing: -1px;
  line-height: 1;

  @include media-query($on-laptop) {
    font-size: 36px;
  }
}

.post-content {
  margin-bottom: $spacing-unit;

  h2 {
    font-size: 32px;

    @include media-query($on-laptop) {
      font-size: 28px;
    }
  }

  h3 {
    font-size: 26px;

    @include media-query($on-laptop) {
      font-size: 22px;
    }
  }

  h4 {
    font-size: 20px;

    @include media-query($on-laptop) {
      font-size: 18px;
    }
  }
}

section.module.parallax {
  height: 600px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
section.module.parallax h1 {
  color: #fff;
  font-size: 108px;
  letter-spacing: 50px;
  line-height: 600px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 0 0 10px $greybae;
  -webkit-text-stroke: 1px $greybae;
 
}

@media (min-width: 825px) and (max-width: 1193px){
  section.module.parallax h1 {
    font-size: 72px;
  }
}
@media all and (max-width: 824px) {
  section.module.parallax h1 {
    font-size: 48px;
    line-height: 300px;
    letter-spacing: 30px;
  }
  section.module.parallax {
    height: 300px;
  }
}
@media all and (max-width: 520px){
  section.module.parallax h1 {
    font-size: 36px;
    letter-spacing: 30px;
  }
}

.title-container {
  margin: 0 auto;
}


